.ProductSection {
}

.ProductSection p {
  color: #5e5e5e;
  font-size: 0.9rem;
}

.ProductSection__text--heading h1,
p {
  margin: 8px 0;
}

.ProductSection__text,
.ProductSection__ingredients,
.ProductSection__instruct {
  padding: 0 30px;
}

.ProductSection img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.ProductSection__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProductSection__text--heading {
}

.ProductSection__ingredients {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}

.ProductSection__ingredients li {
  padding: 12px;
  background-color: black;
  color: white;
}

.ProductSection__close--button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 0;
  transition: transform 0.35s;
  cursor: pointer;
}

.ProductSection__close--button:active {
  transform: rotate(359deg);
}
